@{
    ViewData["Title"] = "Index";
}


<body>
    <h1>Creando Paquetes</h1>
    <p>Bienvenidos al sitio web de paquetes turisticos</p>
    <a href='@Url.Action("SelectPaquete")'> +INFO</a>
    @foreach(string ciudad in ViewBag.Paquetes.Keys)
    {
        <p>Aerolinea: @ViewBag.Paquetes[ciudad].Aereos</p>
        <p>Hoteles: @ViewBag.Paquetes[ciudad].Hoteles</p>
        <p>Excursiones: @ViewBag.Paquetes[ciudad].Excursiones</p>
    }
</body>


