<form>
    @for(int z = 1; z <= 10; z++){
        <p>@z: @ViewBag.Destinos[z - 1] </p>
    }
    <input type = "number" max = 10 min = 1 step = 1 >

    @for(int y = 1; y <= ORTWorld.ListaHoteles.Count; y++){
        <img src="~/img/@(ORTWorld.ListaHoteles[y - 1]).jpg" >
    }
    <input type = "number" max = 10 min = 1 step = 1 >

    @for(int x = 1; x <= 10; x++){
        <img src="~/img/@(ORTWorld.ListaAereos[x - 1]).jpg" >
    }
    <input type = "number" max = 10 min = 1 step = 1 >

    @for(int r = 1; r <= 10; r++){
        <img src="~/img/@(ORTWorld.ListaAereos[r - 1]).jpg" >
    }
    <input type = "number" max = 10 min = 1 step = 1 >
    
    <input type = "submit" value = "Enviar" Action = 'Url.Action("GuardarPaquete")' >
</form>